div, p, h1 {

    width: min-content;
    height:max-content;
    border: 3px solid gold
}
/* specifity of 100 */
#element {
    color: blue;
}
/* specifity of 10 */
.class {
    color: lightskyblue;
}
/* specifity of 1 */
p {
    color: palegreen;
}
/* specifity of 1 */
div {
    background-color: black;
}
/* specifity of 1 */
h1 {
    color: white;
}
/* specifity of 0 */
* {
    border-radius: .5px red;
    font-family: cursive;
}
/* specifity of 2 */
div p {
    color: greenyellow
}
/* specifity of 2 */
div > p {
    color:wheat;
}
/* specifity of 11 */
div:hover {
    color: deeppink;
}
/* specifity of 2 */
p::first-letter {
   color:gray;
}



